<!DOCTYPE html>
<html>
<head>
<title>用户管理</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap-all.css">
<script src="/js/bootstrap-all.js"></script>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<!-- 系统CSS或JS -->
<link rel="stylesheet" href="/css/system.css">

<style>
</style>
<body>
	<div id="container">
		<div class='row'>
			<div class='col-3'>
				<h4>用户管理1</h4>
			</div>
		</div>
		<div class='bh2'></div>
		<div class='bg-content'>

			<form action="">
				<div class="row">
					<div class="col-sm-2">
						用户名：<input type="text" name='account' id='usercode'   v-model='account'
							style='width: 150px; height: 25px;' />
					</div>

					<div class="col-sm-2">
						用户角色：<select id='username'    v-model='roleName'
							style='width: 150px; height: 25px;'>
							<option value="">请选择</option>
							<option :value="item.roleName"  v-for="item in role">{{ item.roleName }}</option>
						</select>
					</div>
						<div class="col-sm-2">
						分公司： <select  v-model='orgname'
							style='width: 160px; height: 25px;' >
							<option value="">请选择</option>
							<option :value="item.orgname"  v-for="item in info" >{{ item.orgname }}</option>
						</select>
					</div>
				
					</div>

				
				

				<div class='row' style='padding: 15px;'>
					<div class="bg-primary mybtn"  @click='queryUser'>查询用户</div>
					<div class="mybtn bg-primary" style='margin-left: 45px;'
						type="button" @click='addUser()' data-toggle="modal" data-target="#myModal" >添加用户</div>
				</div>
			</form>
		</div>
		<div class='bh5'></div>

		<div class='bg-content'>
			<div>用户表结果：</div>
			<div class='bh2'></div>
			<div>
				<table
					class="table  table-bordered   table-sm">
					<thead>
						<tr>
							<th width=50px;><input type='checkbox'  class='batch'  disabled /></th>
							<th>用户编号</th>
							<th>用户账号</th>
							<th>用户名</th>
							<th>分公司</th>
							<th>邮箱</th>
							<th>用户角色</th>
							<th>创建时间</th>
							<th>操作</th>
							<th>菜单权限操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for='item1 in user1'>
							<td width=50px;><input type='checkbox'  class='batch'  @click='chk(item1.id,item1.account ,$event)'  /></td>
							<td>{{item1.id}}</td>
							<td ><input class='tableinput'  :value='item1.account'  v-model='item1.account'   :disabled="status ? false : 'readonly'"  /></td>
							<td ><input class='tableinput'  :value='item1.username'   v-model='item1.username'     :disabled="status ? false : 'readonly'"  /></td>
							<td ><input class='tableinput'  :value='item1.branch'  v-model='item1.branch'    :disabled="status ? false : 'readonly'"  /></td>
							<td ><input class='tableinput'  :value='item1.mail'  v-model='item1.mail'   :disabled="status ? false : 'readonly'"  /></td>
							<td ><input class='tableinput'  :value='item1.roleName'  v-model='item1.roleName'    :disabled="status ? false : 'readonly'"  /></td>
							<td>{{item1.createTime}}</td>
							<td><button
									class="bg-danger table-btn"  @click='change()' >{{edit}}</button></td>
							<td style='width: 300px;'><button
									class="bg-danger table-btn" data-toggle="modal"
									data-target="#myModal"  @click='removeMenu(item1.account , item1.roleName)'>移出本组</button></td>
						</tr>
					</tbody>
				</table>
				<div class='row'></div>
				<button data-toggle="modal" data-target="#myModal"
					class="bg-danger table-btn a-btn text-white"  @click='deleteUser()'>删除用户</button>
				<button class="bg-danger a-btn myleft-2 text-white"
					data-toggle="modal" data-target="#myModal" @click='updateUser()'>修改用户</button>
				<button class="bg-success table-btn myleft-2 a-btn text-white"  	data-toggle="modal" data-target="#myModal" @click='grantUser()'>添加权限</button>
			</div>

		</div>

		<div class='row  mytips mytips-none'>
			<div class="alert alert-danger alert-dismissible fade show">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>错误!</strong>
			</div>
		</div>

		
		
		<!-- 模态框2 -->
		<div class="modal fade myalert" id="myModal">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<!-- 模态框头部 -->
					<div class="modal-header">
						<span class="modal-title">系统提示：</span>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- 模态框主体 -->
					<div class="modal-body">{{info2}}
					   <select id='username'    v-model='roleName'  v-show='flag'
							style='width: 150px; height: 25px;'>
							<option value="">请选择</option>
							<option :value="item.roleName"  v-for="item in role">{{ item.roleName }}</option>
						</select></div>
					<!-- 模态框底部 -->
					<div class="modal-footer">
						<button class="btn btn-success btn-sm" data-dismiss="modal"
							id='modal-1' @click='confirmbtn(info2)'>确 认</button>
						<button type="button" class="btn btn-secondary btn-sm"
							data-dismiss="modal" @click=cancle()>取 消</button>
					</div>

				</div>
			</div>
		</div>
 
</div>
 <div id='ss'></div>
</body>
<script>
var vm=new Vue({
  el: '#container',
  data : {
    
      info: [],
      role:[],
      account:'',
      account1:'',
      roleName:'',
      roleName1:'',
      orgname:null,
      status:false,
      check:true,
      edit:'启用编辑',
      info2:'',
      user1:[],
      users:[],
      ids:[],
      flag:false
    
  },
   mounted () {
    axios.get('/user.html').then(res1 =>{
    	this.info=res1.data
    	})
      .catch(function (error) { // 请求失败处理
        console.log(error);
      });
    axios.get('/user_role.html').then(res1 =>{
    	this.role=res1.data
    	})
      .catch(function (error) { // 请求失败处理
        console.log(error);
      });
  }, 
  methods:{
	  queryUser(){
		if((this.account==''||this.account==null)&&(this.roleName==''||this.roleName==null)&&(this.orgname==''||this.orgname==null)){
			alert('请选择查询条件')
			return false;
		}
		  axios({
			  method: 'post',           
			  url: '/queryUser',  
			  data: {		
				      account:this.account,
				      roleName:this.roleName,
				      branch: this.orgname
			  },
			}).then(res=>{ 		
				this.users=[];
				this.user1=res.data				 
			} ,error=>{				
			}); 
	  },
	  
	  addUser(){
		  if((this.account==''||this.account==null)||(this.roleName==''||this.roleName==null)||(this.orgname==''||this.orgname==null)){
				this.info2='添加用户三要素必须同时填写!';
				return false;
			}  
		  axios({
			  method: 'put',           
			  url: '/addUser',  
			  data: {		
				  account:this.account,
			      roleName:this.roleName,
			      branch: this.orgname
			  },
			}).then(res=>{ 			
				this.info2=res.data				 
			} ,error=>{				
			}); 
	  },
	  
	  removeMenu(account , rolename ){
		 this.account1=account;
		 this.roleName1=rolename;
		 this.info2='确定移除'+account+'的'+rolename+"权限？";
	  },
	  confirmbtn(info){
		  if(info.indexOf('确定移除')!=-1){
			  axios({
				  method: 'delete',           
				  url: '/deleteUserMenu',  
				  data: {		
					  account:this.account1,
				      roleName:this.roleName1
				  },
				}).then(resrm=>{ 			 
					ams_alert(resrm.data);
					this.queryUser();
				} ,error=>{				
				}); 

		  }
		  if(info.indexOf('确定要删除所选用户')!=-1){
			  axios({
				  method: 'delete',           
				  url: '/deleteUser',  
				  data: {		
					  msg:this.users
				  },
				}).then(resrm=>{ 			 
					ams_alert(resrm.data);
					this.users=[];
					this.queryUser();
				} ,error=>{				
				}); 

		  } 
		  
		  if(info.indexOf('添加权限')!=-1){
			  axios({
				  method: 'put',           
				  url: '/grantUser',  
				  data: {		
					  msg:this.users,
					  msg1:this.roleName
				  },
				}).then(resrm=>{ 			 
					ams_alert(resrm.data);
					this.users=[];
					this.flag=false;
					this.queryUser();
					
				} ,error=>{				
				}); 

		  }
		  if(info.indexOf('修改用户')!=-1){
			  var ids=this.ids;
			  var arr=this.user1;
			  var myarr=[];
		  	  for(x in arr){
		  		  for(y in ids){
		  			  if( arr[x].id==ids[y]){
		  				var param='{"id":"'+arr[x].id+'","account":"'+arr[x].account+'","username":"'+arr[x].username+'","branch":"'+arr[x].branch+'","mail":"'+arr[x].mail+'","roleName":"'+arr[x].roleName+'"}';
		  				myarr.push(param);		  
		  			  }
		  		  }
		  	  }
			  axios({
				  method: 'post',           
				  url: '/updateUser',  
				  data: {		
					  msg:myarr
				  },
				}).then(resrm=>{ 			 
					ams_alert(resrm.data);
					this.users=[];
					this.flag=false;
					this.queryUser();
					
				} ,error=>{				
				}); 

		  }
		  
		  
		 
		  return;
	  },
	  chk(id,account,e){
		  if(e.target.checked){
			  this.users.push(account);
			  this.ids.push(id);
		  }
		  else{
			  this.users.splice(this.users.indexOf(account),1);
			  this.ids.splice(this.users.indexOf(id),1);
		  } 
	  },
	  deleteUser(){
		  if(this.users==''){
			  this.info2="未选择任何用户";
			  return;
		  }
		  this.info2="确定要删除所选用户吗：{"+this.users+"}";
	  },
	  grantUser(){
		  if(this.users==''){
			  this.info2="未选择任何用户";
			  return false;
		  }
		  this.flag=true;
		  this.info2="为"+this.users+"添加权限：";
		  
	  },
	  cancle(){
		  this.flag=false;
	  },
	  updateUser(){
		  if(this.users==''){
			  this.info2="未选择任何用户";
			  return false;
		  }
		
		  this.info2="修改用户："+this.users;
		  
	  },
	  change(){
		  this.status=!this.status;
		  if(this.status==true){
			  this.edit='关闭编辑';
		  }
		  else{
			  this.edit='启用编辑';
		  }
	  }
  
  }
})

</script>
</html>