<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  debug="false" scan="true" scanPeriod="30 second">   

	<property name="PROJECT" value="Email" />
	<property name="FILESIZE" value="50MB" />
	<property name="MAXHISTORY" value="100" />           
	<timestamp key="DATETIME" datePattern="yyyy-MM-dd HH:mm:ss" />
	
	<!-- 多环境日志 -->
	<springProfile name="uat">
		<property name="ROOT" value="./logs/${PROJECT}/uat/" />      
	</springProfile>
	<springProfile name="local">
		<property name="ROOT" value="./logs/${PROJECT}/local" />      
	</springProfile>
	<springProfile name="prod">
		<property name="ROOT" value="./logs/${PROJECT}/prod/" />    
	</springProfile>

	<!--输出到文件，按日期和文件大小 -->
	<appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder charset="utf-8">
			<pattern>[%-5level] %d{${DATETIME}} [%thread] [%logger{36}] ====message: %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${ROOT}/%d/log%i.log</fileNamePattern>  
			<maxHistory>${MAXHISTORY}</maxHistory>                               
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${FILESIZE}</maxFileSize>                                 
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- 控制台日志打印 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="utf-8">
			<pattern>[%-5level] %d{${DATETIME}} [%thread] [%logger{36}] ====message: %m%n</pattern>
		</encoder>
	</appender>

	<!-- SQL相关日志输出 -->
	<logger name="org.apache.ibatis" level="debug"  additivity="true" />
	<logger name="org.mybatis.spring" level="INFO"  additivity="false" />
	<logger name="com.github.miemiedev.mybatis.paginator" level="INFO" additivity="false" />
	
	
	<!-- Logger 全局日志输出级别 -->
	<root level="debug">
		<appender-ref ref="STDOUT" />  <!-- 文件日志配置生效 -->
		<appender-ref ref="INFO" />		<!-- 控制台日志配置生效 -->
	</root>
	
</configuration>