<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
		<title>大都会人寿邮件管理系统</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/bootstrap-all.css">
		<script src="/js/bootstrap-all.js"></script>
		<link rel="stylesheet" href="/css/iconfont.css">
		<link rel="stylesheet" href="/css/index.css">
		<script src='/js/index.js'></script>
		<link rel='icon' href='/images/icon1.png' />
		<style type="text/css">
		html{
    			filter: grayscale(100%);
		}
		</style>
</head>

<body>
	<div class='header'>
		<div class="dropdown" >
			<button type="button" id='btn' class="btn dropdown-toggle"
				data-toggle="dropdown" style='	font-size:16px;'>
				<span class='iconfont icon-renyuanquanxian' /></span> <span 
					th:text=' ${username}'></span>
			</button>
			<div class="dropdown-menu dropdown-menu-right " style="min-width:100px;padding:5px;font-size:14px;" >
				<a class="dropdown-item" href="#" >个人资料</a>
				
				<a class="dropdown-item" href="/logout"  >重新登陆</a>
			</div>
		</div>
	</div>

	<div class='content'>
		<div class='lefter'>
			  <div class="myheader ">
						&nbsp;系统导航 
				</div>
			
				<div id="accordion">
				<div class="card" th:each="menuparent,index:${menus}"  th:if='${menuparent.parentNodeCode=="0"}' >
					<div class="card-header">
						<div class="card-link"  data-toggle="collapse"  th:href="'#pal'+${index.index}"  th:onclick="'cal('+${index.index}+')'">
							<span class="iconfont icon-wenjianjia hh" th:id="'hh'+${index.index}"> &nbsp;</span>	
							<span th:text='${menuparent.nodeName}'>节点名字</span>
							<span class="iconfont icon-xiajiantou jj" th:id="'jj'+${index.index}"></span>
						</div>
					</div>
					<div th:id="'pal'+${index.index}" class="collapse" data-parent="#accordion">
						<div class="card-body"  th:each="menuchild, index2:${menus}"  th:if='${menuparent.nodeCode} == ${menuchild.parentNodeCode}'  >
							<div th:href='${menuchild.pageUrl}'  th:onclick="'href('+this.id+')'" th:id='${menuchild.pageUrl}'  target='ifra'  class='submenu' ><span class="iconfont icon-yuandianxiao"  th:text='${menuchild.nodeName}'>子节点名字</span></div>
						</div>
					</div>
				</div>
		
			</div>
			<div class="myfooter ">
						&nbsp;Copyright &copy; 2020 大都会人寿版权所有 
			</div>
		</div>
		<div class='righter'>
			<iframe src="/html/welcome.html" id="ifra"  name='ifra'/></iframe>
		</div>
	</div>
</body>
</html>